<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= site.title %></title>
  <%- include('partials/meta') %>
  <%- include('partials/styles') %>
  <%- include('partials/scripts') %>
</head>
<body>
  <div class="container">
    <%- body %>
  </div>
</body>
</html>